NEXT_PUBLIC_SUPABASE_URL="https://ajcaxictapjegvpbfahb.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY2F4aWN0YXBqZWd2cGJmYWhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkyMjQ4NTYsImV4cCI6MTk5NDgwMDg1Nn0.feUxK5UWhueb4dG8FugLTHTsbNoki2m7pSv94TJfXus"
OPENAI_API_KEY="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"